#jinja2: trim_blocks: "true", lstrip_blocks: "true"
;
; BIND reverse data file for local loopback interface
;
$TTL    604800
@       IN      SOA     ns.{{ zone }}. root.{{ zone }}. (
                              {{ serial_number }}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ns.
{{ dns_master_ip.split('.')[-1] }}   IN      PTR     ns.{{ zone }}.
{% for item in zone_table %}
{{ item.ip.split('.')[-1] }}      IN      PTR       {{ item.name }}.{{ zone }}.  
{% endfor %}