#jinja2: trim_blocks: "true", lstrip_blocks: "true"
;
; BIND data file for {{ dns_zone }}
;
; !!!NOTE: You must increment the Serial Number every time you make changes to the zone file. 
; If you make multiple changes before restarting BIND9, simply increment the Serial once. 
;
$TTL    604800
@       IN      SOA     {{ zone }}. root.{{ zone }}. (
                              {{ serial_number }}         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ns.{{ zone }}.
@       IN      A       {{ dns_master_ip }}
@       IN      AAAA    ::1
ns      IN      A       {{ dns_master_ip }}
{% for item in zone_table %}
{{ item.name }}      IN      A       {{ item.ip }}  
{% endfor %}